.fysiodanmark_parent_news {
	display:none;
	background: #6ab500;
	position: relative;
	padding:30px 20px;
}
.fysiodanmark_parent_news a {
}
.fysiodanmark_parent_news .close-btn {
	position: absolute;
	right:10px;
	top:10px;
	color:rgba(0,0,0,.5);
	width: 22px;
	height: 22px;
	background: rgba(255,255,255,.75);
	border-radius: 50%;
	font-family: verdana, sans-serif;
	font-size: 8px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
}
.fysiodanmark_parent_news .close-btn:hover {
	background: rgba(255,255,255,1);;
	color:rgba(0,0,0,.5);
}
.fysiodanmark_parent_news.news_display_placement_0 {
	bottom:auto;
	top:0;
	margin-bottom:30px;
}
.fysiodanmark_parent_news.news_display_placement_1 {
	top:auto;
	bottom:0;
	margin-top:30px;
}

.fysiodanmark_parent_news.news_display_type_1 {
	left:0;
	right:0;
	bottom:0;
	top:0;
	margin:auto;
	height: 350px;
	width: 600px;
	max-width: 90%;
	max-height: 70%;
	position: fixed;
	z-index: 9999999;
	border:5px solid #fff;
	box-shadow: 0 0 2000px 1000px rgba(0,0,0,.5);
	overflow-y: scroll;
}
